img {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.dog-container {
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0.2rem;
}

.dog-image {
    object-fit: cover;
}

.fade-in {
    transition: opacity 1s;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.loading {
    height: 10rem;
    background-color: blue;
}