img {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    img {
        width: 7rem;
        height: 7rem;
    }
}

@media only screen and (max-width: 375px) {
    img {
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (max-width: 320px) {
    img {
        width: 5rem;
        height: 5rem;
    }
}

figure {
    margin: 0.2rem;
}

.dog-image {
    object-fit: cover;
    border-radius: 5px;
}

.fade-in {
    transition: opacity 2s;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}
