.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-win {
    width: 30rem;
    max-width: 100%;
    height: 7rem;
    max-height: 100%;
    position: fixed;
    z-index: 1010;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border-radius: 14px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  6px 6px 0px #666666,
                 -6px -6px 0px #ffffff;
}


.modal-content-win {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-button-win {
    cursor: pointer;
}